<div class="wrapper" *ngIf="dataSource">
  <h1>Pretraga Filmova</h1>
  
  <mat-card class="search-card">
    <mat-card-content>
      <div class="search-input-row">
        <mat-form-field class="search-input">
          <mat-label>Pretraži po nazivu ili ID-u</mat-label>
          <input matInput [(ngModel)]="userInput" (keyup)="doFilterChain()" placeholder="Unesite naziv ili ID">
        </mat-form-field>

        <mat-form-field class="search-input">
          <mat-label>Žanr</mat-label>
          <mat-select [(ngModel)]="selectedGenre" (selectionChange)="doFilterChain()">
            <mat-option value="">Svi žanrovi</mat-option>
            <mat-option *ngFor="let genre of genreList" [value]="genre">{{ genre }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="search-input">
          <mat-label>Reditelj</mat-label>
          <mat-select [(ngModel)]="selectedDirector" (selectionChange)="doFilterChain()">
            <mat-option value="">Svi reditelji</mat-option>
            <mat-option *ngFor="let director of directorList" [value]="director">{{ director }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="search-input">
          <mat-label>Datum</mat-label>
          <mat-select [(ngModel)]="selectedDate" (selectionChange)="doFilterChain()">
            <mat-option value="">Svi datumi</mat-option>
            <mat-option *ngFor="let date of dateOptions" [value]="date">{{ date }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="warn" (click)="doReset()">
        <i class="fa-solid fa-ban"></i> Resetuj
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- Tabela sa filmovima -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let movie">{{ movie.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Naziv</th>
      <td mat-cell *matCellDef="let movie">{{ movie.title }}</td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef>Žanr</th>
      <td mat-cell *matCellDef="let movie">{{ movie.genre }}</td>
    </ng-container>

    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef>Reditelj</th>
      <td mat-cell *matCellDef="let movie">{{ movie.director }}</td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef>Datum izlaska</th>
      <td mat-cell *matCellDef="let movie">{{ movie.releaseDate | date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <p *ngIf="dataSource.length == 0">Nema pronađenih filmova!</p>
</div>

