.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.movie-card {
    width: 250px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Omogućava da se sadržaj raspoređuje vertikalno */
}

mat-card-image {
    height: 350px;
    object-fit: cover;
}

.movie-card mat-card-content {
    flex-grow: 1; /* Naslov i ostali sadržaj zauzimaju preostali prostor */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Raspoređuje sadržaj između naslova i ocena */
}

.movie-card h1 {
    font-size: 1.4em; /* Manji naslov */
    margin: 10px 0; /* Razmak između naslova i ostalog sadržaja */
}

.movie-card mat-card-actions {
    display: flex;
    justify-content: space-between; /* Dugmad uvek na istom mestu */
    margin-top: auto; /* Guranje ka dnu */
}

.rating-section {
    margin: 10px 0;
    text-align: center; /* Centrira ocene */
}

.stars {
    color: #ffd700; /* Zlatna boja za zvezde */
    font-size: 0.8em;
    margin: 5px 0;
}

.stars i {
    margin: 0 2px;
}