.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.movie-card {
    width: 250px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

mat-card-image {
    height: 350px;
    object-fit: cover;
}
.movie-card mat-card-actions {
    display: flex;
    justify-content: space-between; /* Dugmad uvek na istom mestu */
    margin-top: auto; /* Guranje ka dnu */
}